@use 'cores';

.filme {
    padding: 5.6vw;
    // padding: 0px 400px 0px 400px;

    &__text {
        color: cores.$corTextoPrimario;
        letter-spacing: 4px;
        text-align: center;
        padding-right: 250px;
        padding-left: 250px;
    }

    &__title {
        font-size: 48px;
        padding-bottom: 16px;
        color: cores.$corTextoTitulo;
    }

}