// importando arquivos

@use 'cores';
@use 'hero';
@use 'header';
@use 'elenco';
@use 'shows';
@use 'filme';
@use 'producao';

// iniciando com Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cores.$corDeFundo;
}

